.main {
  padding-top: 55px;
}

.vheight-100 {  
  padding-top: 80px;
  height: 91vh;
  display: flex; 
  width: 100%;
  justify-content: center;
  
}

.pTag{
  display: inline;
  margin-left:8vh;
}

.login-title{
  justify-content: center;
}

