.nav-menu {
  background-color: #55ad84;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  padding-top: 100px;
}

.menu-item {
  width: 230px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 2px white solid;
  color: white;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}


